<p class="task-icons"><i class="<%= task.status === "Complete" ? "fa-solid" : "fa-regular" %> fa-circle-check btn px-0 border-0" data-sliding-effect-target="checkbox" data-action="click->sliding-effect#toggleCheckbox"></i></p>
