<p class="task-icons"><i class="<%= task.status === "Complete" ? "fa-solid" : "fa-regular" %> fa-circle-check btn px-0 border-0" data-task-cards-target="checkbox" data-action="click->task-cards#toggleCheckbox"></i></p>
