<% tasks.each_with_index do |task, index| %>
  <div id="task-<%= task.id %>" class="col-4 d-flex justify-content-center mb-1 <%= task.status === "due" && "task-due" %>">
    <div class="task position-relative" data-controller="sliding-effect" data-sliding-effect-id-value="<%= task.id %>">
      <%= render "tasks/task", task: task, index: index %>
    </div>
  </div>
<% end %>
