<div class="col-4 d-flex justify-content-center mb-1 <%= task.status === "due" && "task-due" %>">
    <div class="task">
      <div data-id="<%= task.id %>" data-task-cards-target="content" class="tasks-cards d-flex flex-column">
        <%= render "tasks/task", task: task %>
      </div>
    </div>
  </div>
