<div class="d-flex flex-column chat-container container" data-controller="conversation">
  <h1>Talk to me, AI</h1>

  <section class="chat-responses flex-grow-1 text-wrap" data-conversation-target="response">
  </section>

  <div class="flex-shrink-0">
    <%= simple_form_for [ chat, conversation ], data: { action: "conversation#generateResponse" } do |f| %>
      <%= f.input :user_message, as: :string, input_html: { data: { conversation_target: "prompt" } } %>
    <% end %>
  </div>
</div>
