<%# main row for the entire page %>
<div class="page-container">
  <div class="row">
    <%# left side comprising of chat and spotify %>
  <div class="col left-column">
    <%# chatbot %>
    <div class="left-wrapper">
      <div class="chatbot">
        <small>
          <strong>Alexis</strong>
          <i>15 January 2024</i>
        </small>
        <p>Yo What's up</p>
      </div>
    <%# spotify player %>
      <div class="spotify-player">
        <p>now playing</p>
      </div>
    </div>
  </div>

    <div class="col-9">
      <h2>right-side</h2>
    </div>


  </div>
</div>
