<%# main row for the entire page %>
<div class="d-flex justify-content-center px-2">
  <div class="container-fluid">
    <div class="row" data-controller="text-search task-filter">
      <%# left side comprising of chat and spotify %>
      <div class="col-4 left-column gap-3 vh-100 sticky-top">
        <%# chatbot %>
        <div class="d-flex flex-column align-items-start">
          <div class="d-flex justify-content-around chat-wrapper mb-2">

              <%= render 'conversations/index', chat: @chat, conversation: @conversation %>

          </div>
        <%# spotify player %>
          <div class="spotify-player">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZEVXcXgSoEyYCZer?utm_source=generator&theme=0" width="100%" height="170px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
        </div>
      </div>

      <%# right side for tasks cards %>
      <div class="col-8" data-controller="task-cards">

      <%# text-search form%>
      <form class="form-inline my-2 my-lg-0" action="<%= search_path %>" method="get">
        <input class="form-control mr-sm-2 my-2" type="search" placeholder="Text search" aria-label="Search" name="texts"  data-action="keyup->text-search#searchTask" data-text-search-target="search">
      </form>

      <%# sort form%>
      <div class="col-12">
        <span class="fw-bold">Sorted By:</span>
        <input type="radio" class="btn-check" id="priority" name="sort" value="priority" data-action="click->text-search#sortTasks" data-text-search-target="sort" />
        <label class="btn btn-outline-primary" for="priority">Priority</label>
        <input type="radio" class="btn-check" id="status" name="sort" value="status" data-action="click->text-search#sortTasks" data-text-search-target="sort" />
        <label class="btn btn-outline-primary" for="status">Status</label>
        <input type="radio" class="btn-check" id="due_date" name="sort" value="due_date" data-action="click->text-search#sortTasks" data-text-search-target="sort" />
        <label class="btn btn-outline-primary" for="due_date">Due Date</label>
        <input type="radio" class="btn-check" id="none" name="sort" value="none" data-action="click->text-search#sortTasks" data-text-search-target="sort" />
        <label class="btn btn-outline-primary" for="none">None</label>
      </div>

      <%# filter form %>
        <%# <form action="<%= filter_path %>
          <%# <label for="priority">Priority Filter:</label>
          <select name="priority" id="priority" data-action="change->task-filter#filterTask" data-task-filter-target="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
            <option value="None">None</option>
          </select>
          <label for="status">Status Filter:</label>
          <select name="status" id="status" data-action="change->task-filter#filterTask" data-task-filter-target="status">
            <option value="Complete">Complete</option>
            <option value="Incomplete">Incomplete</option>
            <option value="None">None</option>
          </select>
          <label for="dueDate">Due Date Filter:</label>
            <input type="date" id="dueDate" name="dueDate" data-action="change->task-filter#filterTask" data-task-filter-target="dueDate"/> %>
      <div class="row">
        <div class="mt-4 position relative home-icons col-1 d-flex flex-column align-items-center justify-content-start">
          <p><i class="fa-regular fa-calendar fs-3"></i></p>
          <p><i class="fa-solid fa-chalkboard fs-3"></i></p>
          <p data-action="click->task-cards#openCreate"><i class="fa-regular fa-square-plus fs-3"></i></p>
          <div class="new-task popup"data-task-cards-target="newcontent">
          </div>
        </div>

        <div class="col-11">
          <div class="row" data-task-cards-target="insertform" data-text-search-target="results" data-task-filter-target="results">
            <%= render 'tasks/index', tasks: @tasks %>
          </div>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>
