<%# main row for the entire page %>
<div class="d-flex justify-content-center px-2">
  <div class="container-fluid">
    <div class="row">
      <%# left side comprising of chat and spotify %>
      <div class="col-4 left-column gap-3 border">
        <%# chatbot %>
        <div class="left-wrapper d-flex flex-column align-items-center">
          <div class="chatbot">
            <small>
              <strong>Alexis</strong>
              <i>15 January 2024</i>
            </small>
            <p>Yo What's up</p>
          </div>
        <%# spotify player %>
          <div class="spotify-player">
            <p>now playing</p>
          </div>
        </div>
      </div>

      <%# right side for tasks cards %>
      <div class="col-8 border">
        <div class="row border border-secondary">
          <%# individual cards %>
          <%# .each goes here %>
          
          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="task position-relative" data-controller="sliding-effect" >
              <div class="tasks-cards position-absolute top-0 start-0" data-sliding-effect-target="content">
                <h1>Title of this article</h1>
                <p><%= 'This is a damn long text so I am trying to make it shorter by truncating it ok.'.truncate(25) %></p>
                <button data-action="click->sliding-effect#toggleSlide">Click Me</button>
              </div>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>

          <div class="col-4 border border-danger d-flex justify-content-center">
            <div class="tasks-cards">
              <p>card for tasks</p>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>
