.page-container {
  margin: 20px;
  border: 1px solid pink;
}

.chatbot {
  background-color: grey;
  border-radius: 300px 300px 0 0;
  height: 740px;
  width: 370px;
}

.spotify-player {
  width: 100%;
  background-color: green;
  margin-top: 10px;
  height: 150px;
}

// .tasks-grids {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   gap: 16px;
// }

.tasks-cards {
  background-color: lightblue;
  width: 250px;
  height: 270px;
  margin: 10px;
}
