.page-container {
  margin: 20px;
  border: 1px solid pink;
}

.chatbot {
  background-color: grey;
  border-radius: 300px 300px 0 0;
  height: 740px;
  width: 370px;
}

.spotify-player {
  width: 100%;
  background-color: green;
  margin-top: 10px;
  height: 150px;
}

// .tasks-grids {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   gap: 16px;
// }

.task {
  width: 250px;
  height: 270px;
  margin: 10px;
}


.tasks-cards {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 25px;
  transition: all 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

// .card-wrapper-top {
//   height: 150px;
// }

.tasks-date {
  font-size: 15px;
}

.header-with-bell > h2 {
  font-size: 25px;
  margin: 0;
}

.task-footer {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
}

.rectangular-highlight {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 50px; /* Adjust this value for smoother or less smooth borders */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  // margin-left: 10px;
}

.task-icons {
  margin: 0;
  margin-right: 10px;
  color: black;
  font-size: 20px;
}


.tasks-cards.active {
  background-color: white;
  width: 500px;
  height: 600px;
  border-radius: 25px;
  position: fixed;
}
