// .task-due {
//   background-color: rgb(252, 215, 221);
//   border-radius: 25px;
//   transition: all 0.5s;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

.task-due {
  background-color: rgb(252, 215, 221);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: buzz 0.5s linear;
}


@keyframes buzz {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
}
